<div id="selection">
	<div id="pictures" style="text-align:center">
    	<img class="voteimage picture1" src="{{picture1.url}}" width=450px height=450px>
    	<img class="voteimage picture2" src="{{picture2.url}}" width=450px height=450px>
	</div>

	<div id="agree">
		people who agree = {{people_who_agree}}
		clicks = {{clicks}}
	</div>

	<div id="rating" style="text-align:center">
		<span id="picture1rating" style="position:relative; left:-60px;">"{{picture1.rating}}"</span>
		<span id="picture2rating"> "{{picture2.rating}}"</span>
	</div>
</div>