<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="static/css/catmash.css">
	<script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>
</head>
<body class="nomargin">
<table align="center">
	<tr>
		<td width="20%" class="roundedleft">
			<a href="top">top</a> <a href="trending">trending</a> help about
		</td>
		<td width="30%" rowspan="2" class="roundedbottom"><font size="6">CatMash</font></td>
		<td width="20%" class="roundedright">login logout settings profile</td>
	</tr>
	<tr>
		<td class="noborder"></td>
		<td class="noborder"></td>
	</tr>
</table>
<br />
<div id="selection">
	<div id="pictures" style="text-align:center">
    	<img class="voteimage picture1" src="{{picture1.url}}" width=450px height=450px style="position:relative; left:-10%">
    	<img class="voteimage picture2" src="{{picture2.url}}" width=450px height=450px style="position:relative; right:-10%">
	</div
>
	<div id="rating" style="text-align:center">
		<span id="picture1rating" style="position:relative; left:-10%;">"{{picture1.rating}}"</span>
		<span id="picture2rating" style="position:relative; right:-10%;"> "{{picture2.rating}}"</span>
	</div>
</div>

</body>
</html>