<div id="selection">
    <div id="pictures" style="text-align:center">
        <img id="pic1" class="voteimage picture" src="{{picture1.url}}" width=380px height=380px>
        <div class="inline stats">people who agree = {{people_who_agree}} clicks = {{clicks}}</div>
        <img id="pic2" class="voteimage picture" src="{{picture2.url}}" width=380px height=380px>
    </div>
    <div id="rating" style="text-align:center" class="info hidden">
            <div id="rate1" class="inline rating">{{picture1.rating}}</div>
            <div class="inline ratespace"></div>
            <div id="rate2" class="inline rating">{{picture2.rating}}</div>
    </div>
</div>