<div id="selection">
	<div id="pictures" style="text-align:center">
    	<img id="pic1" class="voteimage picture" src="{{picture1.url}}" width=450px height=450px style="position:relative; left:-10%">
    	<span>
		people who agree = {{people_who_agree}}
		clicks = {{clicks}}
		</span>
    	<img id="pic2" class="voteimage picture" src="{{picture2.url}}" width=450px height=450px style="position:relative; right:-10%">
	</div>
	<div id="rating" style="text-align:center">
		<span id="picture1rating" style="position:relative; left:-10%;">"{{picture1.rating}}"</span>
		<span id="picture2rating" style="position:relative; right:-10%;"> "{{picture2.rating}}"</span>
	</div>
</div>


