{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="static/js/top.js"></script>
{% endblock %}


{% block content %}

	<div id="nextpage">
		Next
	</div>
	<div id="backpage">
		Back
	</div>

	<table id="list">
		{% for index, picture in pictures_by_rating %}
		<tr><td class="pictures">
			<img class="topzoom" id="{% index %}" src="{{picture.url}}" width=100px height=100px>
			<!-- rating:{{picture.rating}}, clicks:{{picture.clicks}} -->
		</td>
		{% if index == 0 %} <td rowspan=6 id="zoom"></td> {% endif %}
		</tr>
		{% endfor %}
	</table>



{% endblock %}

