

.nomargin {
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    font-family: "Open Sans", sans-serif;
}

.noborder {
    border: none;
}

.centerspan {
float: center;
}

.roundedbottom {
    background: #FFA319;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}
.roundedleft{
    background: #FFBF5E;
    border-bottom-left-radius: 20px;
    text-align: center;
}
.roundedright{
    background: #FFBF5E;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.voteimage {
    padding: 10px;
}