<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>
<div id="selection">
	<div id="pictures" style="text-align:center">
    		<span id="picture1" style="float:center"><img src="{{picture1.url}}" width=480px height=480px></span>
    		<span id="picture2" style="float:center"><img src="{{picture2.url}}" width=480px height=480px></span>
	</div>
	
	<div id="rating" style="text-align:center">
		<span id="picture1rating" style="position:relative; left:-60px;">"{{picture1.rating}}"</span>
		<span id="picture2rating"> "{{picture2.rating}}"</span>
	</div>
</div>

</body>
</html>
